<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/header :: header"/>

<body>
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<th:block th:replace="fragments/navigator :: navigator"/>
<!-- Header End -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a th:href="@{/}"><i class="fa fa-home"></i> 홈</a>
          <span>추억저장소</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Anime Section Begin -->
<section class="anime-details spad">
  <div class="container">
<!-- TODO 여기에 리스트를 넣어야 하는데 말이져.. -->
    <div class="row">
      <div class="col-lg-12">
        <div class="anime__video__player">
          <img src="/images/memory/그날.jpg" style="border-radius: 10px;" alt="이미지"/>
        </div>
        <div>
          <p style="color: #ffffff"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Anime Section End -->

<!-- Footer Section Begin -->
<th:block th:replace="fragments/footer :: footer"/>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch"><i class="icon_close"></i></div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Search here.....">
    </form>
  </div>
</div>
<!-- Search model end -->
</body>

</html>