<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/header :: header"/>
<script th:src="@{/js/memory/memory-detail.js}"></script>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <th:block th:replace="fragments/navigator :: navigator"/>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a th:href="@{/}"><i class="fa fa-home"></i> 홈</a>
                        <span>추억저장소</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <input type="hidden" id="memoryId" th:value="${memory.getId()}">
    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h3 style="color: #ffffff" th:text="${memory.getTitle()}"></h3>
                    </div>
                </div>
            </div>

            <!-- TODO 이미지가 여러 개일 경우 옆으로 슬라이드하여 움직이는 기능 추가 -->
            <!-- 5개까지가 적절하지 않을까 싶음 -->
            <div class="row">
                <div class="col-lg-12">
                  <div class="anime__video__player">
                      <img th:src="${memory.getImage()}" style="border-radius: 10px;" alt="이미지"/>
                  </div>
                    <div class="anime__video__player">
                        <p style="color: #ffffff" th:text="${memory.getContents()}"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="width: 100%;">
                    <div class="col-lg-12">
                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Write Comment</h5>
                            </div>
                            <form id="comment-form" onsubmit="return false;">
                                <textarea id="comment" placeholder="300자 이내로 작성해주세요."></textarea>
                                <button id="comment-button" th:onclick="writeComment([[${memory.id}]])"><i class="fa fa-location-arrow"></i> Comment</button>
                            </form>
                        </div>
                        <div id="commentDiv" class="anime__details__review">
                            <div class="section-title">
                                <h5>Comment</h5>
                            </div>
                            <div class="anime__review__item" th:each="comment : ${memory.getComments()}">
                                <div class="anime__review__item__pic">
                                    <img th:src="@{/images/profile/basic-profile-img.png}" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6><span th:text="${comment.getIflandNickName()}" style="color: #ffffff"></span><span th:text="| - ${comment.getDayAgo()}|"></span></h6>
                                    <p th:text="${comment.getContents()}"></p>
                                </div>
                            </div>
                            <p th:if="${memory.getComments().size()} == 0" class="not-fount">댓글이 존재하지 않습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">
                <i class="icon_close"></i>
            </div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

</body>

<!-- Footer Section Begin -->
<th:block th:replace="fragments/footer :: footer"/>
<!-- Footer Section End -->
</html>