<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <head>
        <title>head</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="description" content="Anime Template">
        <meta name="keywords" content="Anime, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" th:href="@{/css/jumbotron-narrow.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/css/elegant-icons.css}">
        <link rel="stylesheet" th:href="@{/css/plyr.css}">
        <link rel="stylesheet" th:href="@{/css/nice-select.css}">
        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">


        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

        <!-- Js Plugins -->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/player.js}"></script>
        <script th:src="@{/js/jquery.nice-select.min.js}"></script>
        <script th:src="@{/js/mixitup.min.js}"></script>
        <script th:src="@{/js/jquery.slicknav.js}"></script>
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <script th:src="@{/js/main.js}"></script>
        <script th:src="@{/js/util/commonUtils.js}"></script>
    </head>
</th:block>